.footer{
    box-sizing: border-box;
    color: var(--secondary);
    width: 100%;
    height: 100vh;
    padding: 30px;
}

.linksInferiores a{
    text-decoration: none;
    color: var(--primary);
}
.ctaContacto{
    text-decoration: none;
    

    img{
        color: var(--primary);
        
    }
}
.navHablamosText{
    line-height: 45px;
}

@media (min-width:768px){
    
    .navCremallera{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: top;
    }
    .navHablamosText{
        line-height: 91px;
    }

    .footerNav{
        display: flex;
        flex-direction: column;
        text-align: right;
        margin-top: 0;

        .navFooterText{
            margin-bottom: 1rem;
        }
    }

    .navContacto{

        .ctaContacto img{
            transform: scale(3);
            margin-left: 1.8rem;
            margin-bottom: 0.8rem;
        }
        .focusText{
            max-width: 600px;
        }
    }

}

@media (min-width: 1024px) {

    
    .footerNav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        a {
            margin-bottom: 15px;
            position: relative;
            opacity: 1;
            transition: all 0.3s ease; /* Transición para suavizar el efecto */
        }

        /* Efecto hover */
        a:hover {
            transform: translateY(-5px); /* Desplaza el enlace hacia arriba */
            opacity: 0.6; /* Asegura que esté completamente visible */
        }
    }

    .navHablamosText{
        line-height: 125px;
    }

    .navContacto{

        .ctaContacto img {
            margin-left: 1.4rem;
            margin-bottom: 0;
            transition: transform 0.3s ease-in-out;
            transform-origin: bottom left; /* Anclaje en la esquina inferior izquierda */
        }

        .focusText{
            max-width: 800px;
        }

    }
    
    .ctaContacto:hover img {
        transform: scale(6.2);
    }

}

@media (min-width: 1440px) {

    .navHablamosText{
        line-height: 180px;
    }
    .ctaContacto img{
        margin-bottom: -10px;
    }
}