/* ------------------- MAIN ------------------- */
.contacto{
    display: none;
}
/* --------- SECTION 1 VIDEO --------- */
.principal-section {
    /* grid */
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: inherit; 
    gap: var(--gutter);
    position: relative;
}
.principal-section .focusText {
    /* grid */
    grid-column: 2 / -1;

    text-align: right;
    mix-blend-mode: difference;
    /* Superposición */
    position: absolute;
    z-index: 2;
    
}
.principal-section video {
    width: 100%; 
    height: 700px; 
    object-fit: cover; 
    box-sizing: border-box;
    /* Superposición */
    z-index: 1;
    /* grid */
    grid-column: 2 / -2; 
}

/* --------- SECTION 2 ESTUDIO --------- */
.whatWeDo{
    width: 100%;
    height: 120vh;
    text-align: center;
    /* grid */
    grid-column: 1 / -1;

    span{
        font-size: clamp(1rem, 0.4718rem + 2.2535vw, 2.5rem);
        font-family: "Sharp";
        font-weight: 400;
        letter-spacing: 1.2em;
    }
}

/* --------- SECTION 3 SERVICES --------- */

.services{
    position: relative;
    display: grid ;
    /* grid */
    grid-column: 1 / -1;
    /* focusText */
    .focusText{
        max-width: 300px;
    }
    .paragraphText{
        max-width: 500px;
        align-self: flex-end;
    }
    .servicesList{
        font-weight: 700;
        font-size: clamp(2.8125rem, 0.7218rem + 8.9202vw, 8.75rem);
        color: var(--secondary);
        
        .service-item{
            position: relative; 
            line-height: 2rem; 

            display: flex;
            flex-direction: row;
            align-items: end;
            justify-content: space-between;
        }
        .service-item::after {
            content: "";
            position: absolute;
            bottom: 0; 
            left: 0;
            width: 100%; 
            height: 1px; 
            background-color: var(--secondary);
        }
    }

}

/* captionText */
.captionText{
    border-bottom: 1px solid var(--secondary);
}


@media (min-width:768px) {

    .services .servicesList{
        margin-top: 6rem;
    }

    .services .servicesList .service-item{
        line-height: 3rem;
    }
    
}

/* --------- SECTION 4 PROYECTOS --------- */

.proyectos {
    display: grid;
    grid-column: 1 / -1;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

/* Contenedor de imagen del proyecto */
.proyectosImagen {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 5;
    overflow: hidden;
    
}

.proyectosImagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}
.proyectosImagen:hover img {
    filter: grayscale(0%);
}

/* Texto adicional dentro de la imagen */
.proyectosImagen span {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 2;
    padding: 10px;
}

/* Overlay del proyecto */
.proyectosOverlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin-bottom: 20px;
    z-index: 2;
    padding: 10px;
    text-decoration: none;
}

.proyectosOverlay img {
    width: 20px;
    height: auto;
    margin-left: 5px;
}

@media (min-width:768px){
    
    .proyectosDestacados{
        display: flex ;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .proyectos-item{
        width: 50%;
        height: auto;
    }

    .infoEstudio .paragraphText{
        max-width: 400px;
    }
}

/* --------- SECTION 5 ESTUDIO --------- */

.infoEstudio{
    display: grid;
    grid-column: 1 / -1;
}

.infoEstudio .cta {
    grid-column: auto; /* Ignora las reglas de grid */
    display: flex; /* Flexbox para gestionar su alineación */
    align-self: flex-end; /* Alinea al extremo derecho */
}


/* --------- SECTION 6 CONTACTO --------- */

.contactoInfo{
    display: grid;
    grid-column: 1 / -1;

    p{
        text-align: right;
    }
}

@media (min-width:768px){
    
    .contacto img{
        width: 100%;
        height: auto;
        object-fit: cover;
        overflow: hidden;
    }
}